<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <!-- Import CSS -->
    <link href="../assets/css/color.css" rel="stylesheet">
    <link href="../assets/css/font.css" rel="stylesheet">
    <link href="../assets/css/header.css" rel="stylesheet">
    <link href="../assets/css/footer.css" rel="stylesheet">
    
    <!-- Import JS -->
    <script type="text/javascript" src="../assets/js/header.js" defer></script>
    <script type="text/javascript" src="../assets/js/footer.js" defer></script>


</head>
<body>
    <header>
        <div class="logo">
            <img src="../../assets/res/img/logo.svg" alt="logo">
            <h1 class="logo-text">ILLIEN Victor</h1>
        </div>
        
        <nav class="menu">
            <ul>
                <li><a class="menu-text" id='1' href="../../">About</a></li>
                <li><a class="menu-text" id='2' href="../template/workexperience.html">Work Experience</a></li>
                <li><a class="menu-text" id='3' href="../template/skills.html">Skills</a></li>
                <li><a class="menu-text" id='4' href="../template/projects.html">Projects</a></li>
                <li><a class="menu-text" id='5' href="../template/current_setup.html">Current Setup</a></li>
            </ul>
        </nav>
        
        <div class="call">
            <div class="box">
                <span class="call-icon">&#128222;</span>
                <h1 class="call-text">Let's talk</h1>
            </div>
        </div>
        <a id="icon-menu-burger" class="menu-burger" onclick="unrollMenu()">&#9776;</a>
    </header>
    <!-- Section use to the burger menu -->
    <section id="responsive-menu" class="resp-menu">
        <nav class="resp-nav">
            <ul>
                <li>
                    <a class="resp-menu-item" id='11' href="../../">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17 3H7c-1.1 0-2 .9-2 2v16l7-3 7 3V5c0-1.1-.9-2-2-2z"/></svg>
                        <span class="resp-menu-text">About</span>
                    </a>
                </li>
                <li>
                    <a class="resp-menu-item" id='22' href="../template/workexperience.html">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/></svg>
                        <span class="resp-menu-text">Work Experience</span>
                    </a>
                </li>
                <li>
                    <a class="resp-menu-item" id='33' href="../template/skills.html"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><rect fill="none" height="24" width="24"/><path d="M9.68,13.69L12,11.93l2.31,1.76l-0.88-2.85L15.75,9h-2.84L12,6.19L11.09,9H8.25l2.31,1.84L9.68,13.69z M20,10 c0-4.42-3.58-8-8-8s-8,3.58-8,8c0,2.03,0.76,3.87,2,5.28V23l6-2l6,2v-7.72C19.24,13.87,20,12.03,20,10z M12,4c3.31,0,6,2.69,6,6 s-2.69,6-6,6s-6-2.69-6-6S8.69,4,12,4z M12,19l-4,1.02v-3.1C9.18,17.6,10.54,18,12,18s2.82-0.4,4-1.08v3.1L12,19z"/></svg>
                        <span class="resp-menu-text">Skills</span>
                    </a>
                </li>
                <li>
                    <a class="resp-menu-item" id='44' href="../template/projects.html"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 5v2h-4V5h4M9 5v6H5V5h4m10 8v6h-4v-6h4M9 17v2H5v-2h4M21 3h-8v6h8V3zM11 3H3v10h8V3zm10 8h-8v10h8V11zm-10 4H3v6h8v-6z"/></svg>
                        <span class="resp-menu-text">Projects</span>
                    </a>
                </li>
                <li>
                    <a class="resp-menu-item" id='55' href="../template/current_setup.html"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 6h18V4H4c-1.1 0-2 .9-2 2v11H0v3h14v-3H4V6zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/></svg>
                        <span class="resp-menu-text">Current Setup</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <main>
        
    </main>
    <footer class="footer">
        <div class="icons">
            <div id="validate" class="validate-box">
                <span class="validate-message">Copied !</span>
            </div>
            <img class='icon' src="/assets/res/img/svg-footer/whitediscord.svg" alt="discord" onclick="copyDiscord()" title="gouderg#5425">
            <a href="https://www.linkedin.com/in/victor-illien-5b10031b2/"><img class='icon' src="/assets/res/img/svg-footer/LinkedINlinkldin.svg" alt="linkdlin"></a>
            <a href="https://github.com/Gouderg"><img class='icon' src="/assets/res/img/svg-footer/whitegithub.svg" alt="github"></a>
            <img class='icon' src="/assets/res/img/svg-footer/whitegmail.svg" alt="gmail" onclick="copyGmail()" title="victor.illien974@gmail.com">
        </div>
        <div class="copyright">Copyright © 2021</div>
    </footer>
</body>
</html>