.main-header {
    position: absolute;
    right: 0;
    background-color: var(--grey-300-80);

    width: 40%;
    border-end-start-radius: 1em;
    z-index: 10;
    float: right;
    border-left: solid 1px var(--grey-100);
    border-bottom: solid 1px var(--grey-100);
    font-family: 'Outfit';
    font-weight: 400;
}

.main-header-ul {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    list-style-type: none;
}


.main-header-li {
    color: var(--white-600);
}

.main-header-li:hover {
    cursor: pointer;
    color: var(--orange-100) !important ; 
} 


@media (max-width: 1024px) {


    .main-header {
        position: fixed;
        width: 100%;
        bottom: 0;
        border-start-start-radius: 1em;
        border-start-end-radius: 1em;
        border-end-start-radius: 0em;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(5px);
    }

    .main-header-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

}

@media (max-width: 580px) {

    .main-header-ul {
        font-size: small;
        flex-wrap: wrap;
        gap: 1em;
        min-width: min-content;
    }

}
