.about-title {
    font-weight: 600;
    font-size: x-large;
    font-family: 'Outfit';
    color: var(--white-600);
    margin: 1em;
}

.about-domaine {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1em;
    margin: 1em;
}

.about-card {
    width: 40%;
    padding: 1em;
    background-color: var(--grey-400);
    border-left: solid 1px var(--grey-200);
    border-top: solid 1px var(--grey-200);
    border-radius: 1em;
    box-shadow: 5px 5px 10px var(--grey-800);
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.about-card-icon {
    width: 64px;
    vertical-align: middle;
}

.about-card-title {
    font-weight: 600;
    font-size: large;
    font-family: 'Outfit';
    color: var(--white-600);
}

.about-card-text {
    font-weight: 400;
    font-size: small;
    font-family: 'Inter';
    color: var(--white-600);
}

.about-link {
    text-decoration: none;
    text-transform: none;
    color: var(--orange-100);
    animation: var(--animate-pulse);
}

.about-stacks {
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
}

.about-stack {
    padding: 1em;
    background-color: var(--grey-400);
    border-left: solid 1px var(--grey-200);
    border-top: solid 1px var(--grey-200);
    border-radius: 1em;
    box-shadow: 5px 5px 10px var(--grey-800);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about-stack span {
    font-weight: 600;
    font-size: large;
    font-family: 'Outfit';
    color: var(--white-600);
    text-align: center;
}

.about-stack-icon {
    width: 48px;
}
