.portfolio {
    margin: 1em 0em 1em 1em;
}

.portfolio-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: var(--white-600);
    justify-content: flex-start;
    gap: 2em;
    font-weight: 600;
    font-size: large;
    font-family: 'Outfit';
    color: var(--white-600);
}

.portfolio-header li:hover {
    cursor: pointer;
    color: var(--orange-100);
}

.portfolio-header-active {
    color: var(--orange-100);
}

.projects {
    margin: 1em;
    padding-top: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
}

.project-front {
    display: flex;
    flex-direction: column;
}

.project-back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: x-small;
    font-family: 'Inter';
    color: var(--white-600);
    justify-content: space-between;
}

.project-back p {
    margin: 2em 3em 1em 3em;
    text-align: justify;
}

.project-back:hover {
    opacity: 100;
    background-color: var(--grey-800-50);
    
}

.project-img-container {
    position: relative;
    width: 256px;
    height: 128px;
    overflow: hidden;
    border-radius: 0.5em;
}


.project-img {
    width: 100%;

}


.project-title {
    padding-top: 1em;
    font-weight: 600;
    font-size: medium;
    font-family: 'Outfit';
    color: var(--white-600);
}

.project-category {
    font-weight: 200;
    font-size: small;
    font-family: 'Inter';
    color: var(--white-600);
}

.project-back-icon {
    width: 24px;
    padding-left: 1em;
    padding-bottom: 0.5em;
}


.project-back-icons {
    align-self: flex-end;
    padding-right: 2em;
}