.main-header {
    position: absolute;
    right: 0;
    background-color: var(--grey-300);
    opacity: 0.8;

    width: 40%;
    border-end-start-radius: 1em;
    z-index: 10;
    float: right;
    border-left: solid 1px var(--grey-100);
    border-bottom: solid 1px var(--grey-100);
    font-family: 'Outfit';
    font-weight: 400;
}

.main-header-ul {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    list-style-type: none;
}


.main-header-li {
    cursor: pointer;
    color: var(--white-600);
}



@media (max-width: 1024px) {

    .main-header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-start-start-radius: 1em;
        border-start-end-radius: 1em;
        border-end-start-radius: 0em;
    }

    .main-header-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

}
