.main-section {
    width: 950px;
    border-radius: 2em;
    background-color: var(--grey-500);
    overflow: hidden;
    border: solid 1px var(--grey-100);
    position: relative;
}


.main-section-header {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.main-section-title {
    font-weight: 600;
    font-size: xx-large;
    font-family: 'Outfit';
    color: var(--white-600);
}

.main-section-separation {
    width: 3em;
    height: 0px;
    border: 3px solid var(--orange-100);
    border-radius: 1em;    
    margin: 0;
    margin-top: 1em;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.main-text {
    color: var(--white-100);
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    font-family: 'Inter';
    font-weight: 200;
    font-size: small;
}

@media (max-width: 1250px) {
    
    .main-section {

        width: 950px;
    }
}

@media (max-width: 1024px) {
    .main-section {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .main-section {
        width: 520px;
    }
}

@media (max-width: 580px) {
    .main-section {
        width: auto;
    }
}