:root {
    --primary-blue: #000033;
    --primary-orange: #F4661B;
    --primary-orange-fade: rgba(244, 102, 27, 0.5);
    --primary-blue-fade: #00004db3;
    --secondary-blue: #1E71C7;
    --light-grey: rgba(26, 26, 26, 0.7);


    --breath0: rgba(244, 102, 27, 0.500);
    --breath10: rgba(244, 102, 27, 0.492);
    --breath20: rgba(244, 102, 27, 0.484);
    --breath30: rgba(244, 102, 27, 0.476);
    --breath40: rgba(244, 102, 27, 0.468);
    --breath50: rgba(244, 102, 27, 0.460);
    --breath60: rgba(244, 102, 27, 0.452);
    --breath70: rgba(244, 102, 27, 0.444);
    --breath80: rgba(244, 102, 27, 0.436);
    --breath90: rgba(244, 102, 27, 0.428);
    --breath100: rgba(244, 102, 27, 0.420);

}