
main {
    font-size: 50px;
}


.setup-title {
    font-family: 'Poppins-ExtraBold';
    font-size: 0.7em;
    color: var(--primary-orange);
}

.li-setup {
    font-family: 'Raleway-Medium';
    font-size: 0.3em;
    color: white;
    padding: 1%;
}


.setup {
    display: flex;
    flex-direction: row;
    margin: 5%;
    border-radius: 10px;
    background-color: #3f3f3f5F;
}

.setup1,
.setup2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3%;
}

.li-setup img {
    width: 18px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .setup {
        flex-wrap: wrap;
    }
}   