footer {
    height: 15vh;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    flex: 1;
}

.icons {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.copyright {
    font-family: 'Poppins-ExtraBold';
    color: white;
    margin: 15px 0px;
    
}

.copyright>a, .copyright>a:after, .copyright>a:link  {
    text-decoration: none;
    color: white;
}

.icon {
    padding: 10px;
}

.icon:hover {
    scale: 1.1;
    cursor: pointer;
}

.validate-box {
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    align-items: center;
    display: none;
}

.validate-message {
    color: white;
    font-family: 'Poppins-ExtraBold';
    font-size: 0.9em;
    padding: 0px 10px;
}