* {
    margin: 0 0;
}



body {
    background: radial-gradient(50% 75% at 0% 0%, var(--primary-orange-fade), rgba(0, 0, 0, 0)), 
                radial-gradient(50% 75% at 100% 100%, var(--primary-orange-fade), rgba(0, 0, 0, 0)), 
                var(--primary-blue);

    background-repeat: no-repeat;
    animation: breath 1s linear infinite alternate;
    min-height: 100vh;
}

@keyframes breath {
    0% {background: radial-gradient(50% 75% at 0% 0%, var(--breath0), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath0), rgba(0, 0, 0, 0)), var(--primary-blue);}
    10% {background: radial-gradient(50% 75% at 0% 0%, var(--breath10), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath10), rgba(0, 0, 0, 0)), var(--primary-blue);}
    20% {background: radial-gradient(50% 75% at 0% 0%, var(--breath20), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath20), rgba(0, 0, 0, 0)), var(--primary-blue);}
    30% {background: radial-gradient(50% 75% at 0% 0%, var(--breath30), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath30), rgba(0, 0, 0, 0)), var(--primary-blue);}
    40% {background: radial-gradient(50% 75% at 0% 0%, var(--breath40), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath40), rgba(0, 0, 0, 0)), var(--primary-blue);}
    50% {background: radial-gradient(50% 75% at 0% 0%, var(--breath50), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath50), rgba(0, 0, 0, 0)), var(--primary-blue);}
    60% {background: radial-gradient(50% 75% at 0% 0%, var(--breath60), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath60), rgba(0, 0, 0, 0)), var(--primary-blue);}
    70% {background: radial-gradient(50% 75% at 0% 0%, var(--breath70), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath70), rgba(0, 0, 0, 0)), var(--primary-blue);}
    80% {background: radial-gradient(50% 75% at 0% 0%, var(--breath80), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath80), rgba(0, 0, 0, 0)), var(--primary-blue);}
    90% {background: radial-gradient(50% 75% at 0% 0%, var(--breath90), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath90), rgba(0, 0, 0, 0)), var(--primary-blue);}
    100% {background: radial-gradient(50% 75% at 0% 0%, var(--breath100), rgba(0, 0, 0, 0)), radial-gradient(50% 75% at 100% 100%, var(--breath100), rgba(0, 0, 0, 0)), var(--primary-blue);}
}   

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    min-height: 100vw;
}

.logo {
    width: 15%;
}

.logo-lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-photo {
    width: 12vw;
    max-width: 125px;
    height: auto;
    padding: 2%;
    animation:spin 8s linear infinite;
}

.logo-text {
    font-family: 'Poppins-ExtraBold';
    font-size: 1.3em;
    color: white;
}

@keyframes spin { 
    100% { transform:rotate(-360deg); 
    } 
}

.menu {
    width: 60%;
    text-align: end;
}

.menu li {
    list-style: none;
    padding: 2%;
    display: inline;
}

.menu-text {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Poppins-ExtraBold';
    font-size: 1.7em;
}

.menu-text:hover {
    scale: 1.2;
}
.menu-text-highlight {
    color: var(--secondary-blue);
}

.call {
    width: 25%;
    box-align: center;
    display: flex;
    justify-content: center;
}

.language:hover {
    cursor: pointer;
}
.language {
    color: white;
    font-family: 'Poppins-ExtraBold';
    font-size: 2em;
}

.active {
    color: var(--secondary-blue);
}

/* Responsive */
header .menu-burger {
    color: white;
    font-size: 3rem;
    width: 25%;
    text-align: end;
    margin-right: 20px;
    display: none;
}
.resp-menu {
    display: none;
}

@media (max-width: 950px) {
    main {
        min-height: 200vw;
    }

    .menu,
    .call {
        display: none;
    }

    header .menu-burger,
    section.open
    {
        display: block;
    }

    .logo {
        width: 75%;
    }

    .menu-burger {
        flex-direction: column;
    }

    .resp-menu {
        margin-bottom: 20%;
    }

    .resp-menu-item {
        text-decoration: none;
        color: white;
        font-family: 'Poppins-ExtraBold';
        font-size: 1.7em;
        display: flex;
        align-items: baseline;
    }

    .resp-menu-item-highlight {
        color: var(--secondary-blue);
        
    }
    
    .resp-menu-item-highlight svg {
        fill: var(--secondary-blue);
    }

    .resp-menu-text {
        padding-left: 15px;
    }

    .resp-nav {
        width: 100%;
        align-items: center;
        margin: 15% 0% 0% 10%;
        
    }
    
    .resp-nav li {
        list-style: none;
        padding: 2%;
    }   
}