* {
    margin: 0 0;
}

body {
    background: radial-gradient(50% 75% at 0% 0%, var(--primary-orange-fade), rgba(0, 0, 0, 0)), 
                radial-gradient(50% 75% at 100% 100%, var(--primary-orange-fade), rgba(0, 0, 0, 0)), 
                var(--primary-blue);

    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    min-height: 100vw;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.logo img {
    width: 12vw;
    max-width: 125px;
    height: auto;
    padding: 2%;
}

.logo-text {
    font-family: 'Poppins-ExtraBold';
    font-size: 1.3em;
    color: white;

}

.menu {
    width: 70%;
    text-align: end;
}

.menu li {
    list-style: none;
    padding: 2%;
    display: inline;
}

.menu-text {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Poppins-ExtraBold';
    font-size: 1.7em;
}

.menu-text:hover {
    scale: 1.2;
}
.menu-text-highlight {
    color: var(--secondary-blue);
}

.call {
    width: 15%;
    box-align: center;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    max-width: 75%;
    border: 2px solid var(--primary-orange);
    border-radius: 10px;
    text-align: center;
}

.box img {
    max-width: 45px;
}
.call-text{
    color: white;
    font-family: 'Poppins-ExtraBold';
    font-size: 1.1em;
    margin: 20px 0;
}

.call-icon {
    font-size: 2em;
    margin: 12px 0;
    color: white;
}

/* Responsive */
header .menu-burger {
    color: white;
    font-size: 3rem;
    width: 25%;
    text-align: end;
    margin-right: 20px;
    display: none;
}
.resp-menu {
    display: none;
}

@media (max-width: 950px) {
    main {
        min-height: 200vw;
    }

    .menu,
    .call {
        display: none;
    }

    header .menu-burger,
    section.open
    {
        display: block;
    }

    .logo {
        width: 75%;
    }

    .menu-burger {
        flex-direction: column;
    }

    .resp-menu {
        margin-bottom: 20%;
    }

    .resp-menu-item {
        text-decoration: none;
        color: white;
        font-family: 'Poppins-ExtraBold';
        font-size: 1.7em;
        display: flex;
        align-items: baseline;
    }

    .resp-menu-item-highlight {
        color: var(--secondary-blue);
        
    }
    
    .resp-menu-item-highlight svg {
        fill: var(--secondary-blue);
    }

    .resp-menu-text {
        padding-left: 15px;
    }

    .resp-nav {
        width: 100%;
        align-items: center;
        margin: 15% 0% 0% 10%;
        
    }
    
    .resp-nav li {
        list-style: none;
        padding: 2%;
    }   
}