main {
    display: flex;
    flex-direction: column;
    font-size: 68px;
}

/* Première section. */
.menu-project {
    display: flex;
    flex-direction: column;
}

.selec-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tags {
    margin: 3%;
    border: 4px solid var(--primary-orange);
    color: white;
    font-family: Poppins-Bold;
    align-self: baseline;
    padding: 15px;
    font-size: 0.2em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.tags:hover {
    background-color: var(--primary-orange);
    scale: 1.1;
    cursor: pointer;
}


/* Liste des petits projets */
.list-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 250px;
    perspective: 1000px;
    margin: 2%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-blue-fade);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.front-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Poppins-Bold;
    font-size: 0.30em;
    justify-content: space-evenly;
}

.front-box-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.front-title {
    font-family: Poppins-Bold;
    color: var(--primary-orange);
    align-self: center;
}

.front-left {
    width: 50%;
    height: auto;
    border-radius: 20px 0px 0px 20px;
}

.front-list-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.back-title {
    color: var(--primary-orange);
    font-family: Poppins-Bold;
    font-size: 0.35em;
    padding-bottom: 10px;
}

.back-description {
    color: white;
    font-family: Raleway-Medium;
    font-size: 0.2em;
    width: 100%;
}

/* Séparation. */
.sep-pro {
    margin: 2% 10%;
    color: var(--primary-orange);
    border-style: dashed;

}

.arrow-up {
    margin-bottom: 5%;
    text-align: center;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);

}

.arrow-img:hover {
    cursor: pointer;
}

.arrow-up img{
    height: 1.5em;
    animation: bounce 0.5s ease-out infinite alternate;
}

@keyframes bounce {
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

/* Deuxième section. */
.big-project {
    display: none;
    flex-direction: column;
    margin: 2%;
    background-color: #c4c4c43b;
    padding: 2%;
    border-radius: 20px;
}

.title-project {
    color: var(--primary-orange);
    font-family: Poppins-ExtraBold;
    font-size: 0.9em;
    align-self: center;
}

.carac-pro {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 0.3em;
    font-family: Poppins-Bold;
    margin: 4% 0%;
}

.title-pro {
    font-family: Poppins-Bold;
    color: white;
    font-size: 0.6em;
}

.firstLetter {
    color: var(--primary-orange);
}

table, th, td {
    padding: 10px;
    border: 1px solid white;
    border-collapse: collapse;
}

.text-pro {
    font-family: Raleway-Medium;
    font-size: 0.3em;
    color: white;
    margin-left: 4%;
}

.desc-pro, .work-pro, .use-pro {
    margin: 2% 0%;
}

h2, h3, h4, h5, h6 {
    font-family: Poppins-Bold;
}

.code {
    background-color: var(--primary-blue);
    color: var(--primary-orange);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px
}
.png-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.png-explanation {
    width: 50%;
    height: auto;
    margin: 3% 0%;
}

.carrousel {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: center;
    margin: 3%;
}

.carrousel-arrow {
    align-self: center;
    width: 4%;
    margin: 10px;
}

.carrousel-arrow:hover {
    cursor: pointer;
}

.carrousel-block-png {
    min-width: 25%;
    /* border: 1px solid black; */
}
.carrousel-png {
    border-radius: 20px;
    width: 100%;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 700px) {
    main {
        font-size: 48px;
    }

    .carac-pro {
        flex-direction: column;
    }

    .carrousel-arrow {
        width: 50px;
        height: auto;
    }

    .carrousel-png {
        border-radius: 5px;
    }

    .code {
        padding: 1px;
    }

    .flip-card {
        width: 300px;
        height: 150px;
    }


}

