main {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    font-size: 68px;
    min-height: 280vh;
}


/* Arrow. */

.big-arrow {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.arrow-corpse {
    border: 1px solid white;
    background-color: white;
    width: 7px;
    height: 240vh;
}

.arrow-head {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 0.4em solid transparent;
    border-bottom : 0.9em solid white;
    border-left : 0.4em solid transparent;
}

.arrow-born {
    font-family: 'Poppins-ExtraBold';
    color: white;
    font-size: 0.35em;
    padding-top: 1%;
}   

/* Card. */

.all-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.card {
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.hide {
    opacity: 0;
}

.left {
    justify-content: flex-end;
    margin-right: 49.5%;
    margin-left: 0.5%;
}

.right {
    justify-content: flex-start;
    margin-left: 49.5%;
}

.card-dot-left,
.card-dot-right {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.card-dot-left { background-color: var(--primary-orange); }

.card-dot-right { background-color: var(--secondary-blue); }

.card-line {
    border: 3px solid white;
    width: 30%;
    height: 0px;
    border-style: dashed;
}

.card-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-blue-fade);
    background-color: var(--primary-blue-fade);
    padding: 2%;
    border-radius: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-box-date-l,
.card-box-date-r {
    font-family: 'Poppins-ExtraBold';
    font-size: 0.4em;
}

.card-box-date-l { 
    color: var(--primary-orange);
    align-self: flex-end;
}
.card-box-date-r { color: var(--secondary-blue);}

.card-box-content {
    font-family: 'Poppins-Bold';
    color: white;
    font-size: 0.28em;
    padding: 4% 0% 4% 0%;
    align-self: center;
}

.card-box-place-r,
.card-box-place-l {
    font-family: 'Raleway-Bold';
    font-size: 0.2em;
    color: white;
}

.card-box-place-r { align-self: flex-end;}

.italique {
    font-family: 'Raleway-BoldItalic';
}




@media screen and (max-width: 950px) {
    main {
        font-size: 48px;
        min-height: 240vh;;
    }
    .arrow-corpse { height: 230vh;}
    .big-arrow { justify-content: flex-end;}
    .card-box-date-r {align-self: flex-end;}
    
    .card-box {
        width: 70%;
    }

    .card { 
        justify-content: flex-end; 
        width: 95%;
    }
    .left, .right{ margin: 3% 3% 3% 0%; }
    .right { 
        flex-direction: row-reverse;
        justify-content: flex-start;
    }


}

@media screen and (max-width: 750px) {
    .card { width: 90%;}
    .card-line { width: 10%;}
}

.arrow-up {
    margin-bottom: 5%;
    text-align: center;
    rotate: 180deg;
}

.arrow-img:hover {
    cursor: pointer;
}

.arrow-up img{
    height: 1.5em;
    animation: bounce 0.5s ease-out infinite alternate;
}

@keyframes bounce {
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}