main {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    font-size: 68px;
}

/* Arrow. */

.big-arrow {
    position: relative;
    z-index: 1;
    border: 1px solid pink;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}    

.arrow-corpse {
    border: 1px solid white;
    background-color: white;
    width: 7px;
    height: 100vh;
}

.arrow-head {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 0.4em solid transparent;
    border-bottom : 0.9em solid white;
    border-left : 0.4em solid transparent;
}

.arrow-born {
    font-family: 'Poppins-ExtraBold';
    color: white;
    font-size: 0.35em;
    padding-top: 1%;
}   

/* Card. */

.all-cards {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 1px solid pink;
    margin-top: 6%;
}

.left {
    justify-content: flex-end;
    margin-right: 49.5%;
    margin-left: 0.5%;
}
.right {
    justify-content: flex-start;
    margin-left: 49.5%;
}

.card-dot-left,
.card-dot-right {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


.card-dot-left {
    border: 1px solid var(--primary-orange);
    background-color: var(--primary-orange);
}

.card-dot-right {
    border: 1px solid var(--secondary-blue);
    background-color: var(--secondary-blue);
}





@media screen and (max-width: 950px) {
    main {
        font-size: 36px;
    }

    .arrow { align-items: flex-end; }
    .arrow-corpse{ margin-right: 6%; }
    .arrow-head { margin-right: 5%; }


    .card { 
        justify-content: flex-end; 
        width: 97%;
    }
    .left, .right{ margin: 6% 0% 0% 0%; }
    /* .right { flex-direction: row-reverse;} */


}